.todo {
  width: 80%;
  height: 50px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 10px 15px;

  &_completed {
    background-color: #d8ffde;
  }

  &__title {
    width: 100%;
    text-align: start;
    margin-left: 8px;

    &__completed {
      text-decoration: line-through;
    }
  }

  &__delete-icon {
    width: 20;
    height: 20;
  }
}

.edit-container {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}
